
body{
background-image: url("125590f2fafbe4eeb913ed69721cabd2.jpg");
background-size: cover;
background-repeat: no-repeat;
margin: 20px;
padding: 20px;
}  

. 
.cv{
    position: absolute;
    margin: 122px auto;
    bottom:90px;
    left: 500px;
    padding: 200px;
}
.cv2 img{
   max-width: 550px;
   margin-top: 100px;
   height: 70vh;
   border-radius: 80px;
   margin-left: 40px;
   box-shadow: #dee203;
}
p{
    margin-left: 80px;
    font-size: 20px;
    color: rgb(238, 56, 177);
    font-weight: bold;
}
h1{
    font-size: 40px;
    font-weight: 700;
    margin:10px;
    padding-left: 70px;
    color: #f5c908;
    
}
.btn{
    border: 1px solid #5bc729 ;
    font-size: 16px;
    color: white;
    transition: 0.5s;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    padding: 10px;
    margin-left: 80px;
}
.btn:hover{
    background-color: #ee692c;
    color: rgb(20, 20, 20);
}


