*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("88ddbd7a8d3977c6a60169b4bcf561f4.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 50px;
    padding: 50px;
}
img{
    border-radius: 30px;
    height: 750px;
    width: 750px;
    display: inline-block;
   
    

}
header .navbar {
    height: 30vh;
 
}


header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgb(230, 112, 176);
}
header nav ul li {
    display: inline-block;
    margin: 20px;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color: #522e00;
}
header nav ul li a:hover{
    border-bottom:1px solid rgb(22, 22, 22) ;
    transition: 0.5s;
    color: #ce0aad;
}
header .navbar #name{
    text-decoration: none;
    color: #6b3202;
    font-weight: 700;
    font-size: 20px;
}
header .navbar #name:hover{
    color: rgb(75, 153, 226);
    transition: 0.5s;
}
.col_text{
color: #ca06aa;
}

#about,#skills{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.container{
max-width: 1100px;
margin: auto;
}

#about h2
{
    text-align: center;
    font-size: 38px;
    color: #278033;
    font-weight: 600;
}
#about h2 .Me{
    color: #e22aab;
}
#about hr,
#skills hr,
#portfolio hr {
    width: 130px;
    height: 2px;
    background-color: #972509;  
    border: none;
    margin-top: 5px;
    margin-bottom: 0;
    margin: auto;
}
#about .about_content{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;

}
#about .about_content .col_1 h3{
    font-size: 25px;
    color: #0d767e;

}

.about_content .col_1 p{
    margin-bottom: 30px;
    color: #0818f0;
}

#about .about_content .col_2 p{
    color: #0d10ce;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #438d47;
}










.skill_content{
    text-align: center;
    font-size: 28px;
    color: #e5ac27;
    font-weight: 600;
}
#skills h2 .My{
    color: #d60c82;
}

.skills .skill_content{
    width: 500px;
    margin: 60px auto;
    color: #444242;
    background-color: #f5f1f1;
    padding: 20px;
    box-shadow: 0 0 20px rgb(241, 218, 7);
}

.skills li{
list-style-type: none;
margin: 20px;
padding: 10px;
}
.vv{
    background-color: #f893d6;
    display: block;
    height: 20px;
    border: 1px solid rgba(226, 100, 28, 0.3);
    border-radius: 10px;
    overflow: hidden;
  
}
.vv span {
    height: 20px;
    float: right;
    background: linear-gradient(rgb(226, 22, 117),rgb(196, 9, 133),rgb(5, 139, 180));
}
.aa{
    width: 90%;
    animation-name: aa;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.bb{
    width: 70%;
    animation-name: bb;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}.cc{
    width: 45%;
    animation-name: cc;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}.dd{
    width: 60%;
    animation-name: dd;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes aa{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}@keyframes bb{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}@keyframes cc{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}@keyframes dd{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}




#portfolio{
    width: 100%;
    height: 100%;
}
.portfolio_content h2{
    text-align: center;
    font-size: 35px;
    color: #e5ac27;
    font-weight: 600;
}
.portfolio_content .My{
    color: #444242;
}

#photo{
    max-width: 600px;
    margin-top: 50px;
 
}